<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    
    <class name="CloseoutPro.NotConnect.LoginTest"/>
    
    <class name="CloseoutPro.NotConnect.MyProfileTest"/>  
    
    <class name="CloseoutPro.NotConnect.UserDirectoryTest"/>
   
    <class name="CloseoutPro.NotConnect.ProjectsTest"/>
   
    <class name="CloseoutPro.NotConnect.specificationTest"/>
   
    <class name="CloseoutPro.NotConnect.CloseoutTest"/>
   
    <class name="CloseoutPro.NotConnect.AssetsTest"/>
               
    <class name="CloseoutPro.NotConnect.WarrantyTest"/>
      
    <class name="CloseoutPro.NotConnect.SettingTest"/>
       
       
       
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
